@use "../custom" as *; //se importa el custom para que importe boostrap
@use "../utils/mixins" as m; // importar mixins

$separacion: 5rem;

.planes {

    h2 {
        @include m.headingBorder($white, $primary)
    }
}

.plan {
    padding: 16rem 4rem;
    border: 1px solid #e1e1e1;

    @include media-breakpoint-up(md){
        @include transition(transform 300ms ease);
        &:hover{
            transform: scale(1.05);
        }
    }
    
    .precio {
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    &.inicio {
        @include m.bgIcono('../img/icono_inicio.svg');
    }

    &.negocio {
        @include m.bgIcono('../img/icono_negocio.svg');
        @include media-breakpoint-up(md) {
            margin-top: -#{$separacion};
            margin-bottom: -#{$separacion};
            border-radius: 2rem;
            z-index: 100;  // PARA QUE NO SE ENCIME LA TRANSISION DEL HOVER
            padding-top: calc(16rem + #{$separacion}); //AÑADIR EL PADDING PARA ALINEAR
            background-position-y: calc(2rem + #{$separacion}); //el simbolo # iterpola para q al compilar tome la variable 
        }
    }

    &.pro {
        @include m.bgIcono('../img/icono_pro.svg');
    }
}